RewriteEngine On

# Home
RewriteRule ^$ /index.html [L]

# Produtos
RewriteRule ^produtos/?$ /html/produtos.html [L]

# Sobre
RewriteRule ^sobre/?$ /html/sobre.html [L]

# Contato
RewriteRule ^contato/?$ /html/contato.html [L]

# Politicas
RewriteRule ^politicas/?$ /html/politicas.html [L]

# Carrinho
RewriteRule ^carrinho/?$ /html/carrinho.html [L]

# Checkout
RewriteRule ^checkout/?$ /html/checkout.html [L]

# Perfil
RewriteRule ^perfil/?$ /html/perfil.html [L]

# Confirmacao de email
RewriteRule ^confirmar-email/?$ /html/confirmar-email.html [L]

# Página de descrição do produto pelo nome
RewriteRule ^produtos/([a-zA-Z0-9-_]+)/?$ /html/produto.html?produto=$1 [L]
